$grid-gutter-width: 30px !default;
$grid-columns: 12 !default;

// 4 kinks of screen breakpoint
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

// Container sizes
$container-sm: (700px + $grid-gutter-width) !default;
$container-md: (940px + $grid-gutter-width) !default;
$container-lg: (1140px + $grid-gutter-width) !default;
